<p id="notice"><%= notice %></p>

<h1>Houses</h1>
<button><%= link_to 'Open Houses', open_houses_path %></button>
<button><%= link_to 'New House', new_house_path %></button>

<button><%= link_to 'Feature Settings', settings_path %></button>
<table class='table'>
  <thead>
    <tr>
      <th>Address</th>
      <th>Overall Score <%= fa_icon "info-circle", data: {
        toggle: "popover",
        html: true, 
        placement: "bottom", 
        content: "The score is a weighted average of all the features. Weights for each feature are the same for every house, so the score answers \"<b><em>How do I rate all the features and how important are those features?</em></b>\"".html_safe
        }, title: "How Is Score Calculated?" %> </th>
      <th>Dollar Score <%= fa_icon "info-circle", data: {
        toggle: "popover", 
        placement: "bottom", 
        content: "Dollar score is measuring the price against the score. High score and low price will be over 100 and the same is true for the opposite. Consider 100 to be average."
        }, title: "What is Dollar Score?" %>    
      </th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.address.split(',').first %></td>
        <td><%= house.overall_score %></td>
        <td><%= house.per_dollar_score.round(2) %></td>
        <td><%= house.beds %></td>
        <td><%= house.baths %></td>
        <td><%= number_to_currency(house.price, precision: 0) %></td>
        <td><a href="<%= house.link %>" target="blank"><%= image_tag house.image_url, width: "100px" unless house.image_url.blank? %></a></td>
        <td><%= link_to 'Show Features', house_path(house.id) %></td>
        <td><%= link_to 'Destroy House', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>