<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<%= link_to 'New House', new_house_path %>
<table class='table'>
  <thead>
    <tr>
      <th>Address</th>
      <th>Overall Score</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.address.split(',').first %></td>
        <td><%= house.overall_score %></td>
        <td><%= house.beds %></td>
        <td><%= house.baths %></td>
        <td><%= number_to_currency(house.price, precision: 0) %></td>
        <td><a href="<%= house.link %>" target="blank"><%= image_tag house.image_url, width: "100px" unless house.image_url.blank? %></a></td>
        <td><%= link_to 'Show Features', house_path(house.id) %></td>
        <td><%= link_to 'Destroy House', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

