<h1>Features</h1>

<div class='well'>
  <div class='row'>
    <div class='col-xs-4'>
      <div class='house-images-container'>
        <% @house.house_images.each_with_index do |h, i| %>
          <div><%= image_tag h.url, id: "image-index-#{i}"%></div>
        <% end %>
      </div>
    </div>
    <div class='col-xs-1'></div>
    <div class='col-xs-7 detail-section'>
      <div class='row'>
        <div class='col-xs-12'>
          <table class='table'>
            <thead>
              <tr>
                <th>Address</th>
                <th>Price</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Score</th>
                <th>Dollar Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @house.address %></td>
                <td><%= @house.price %></td>
                <td><%= @house.beds %></td>
                <td><%= @house.baths %></td>
                <td><span id='house-score'> <%= @house.overall_score %></span></td>
                <td><span id='house-dollar-score'> <%= @house.per_dollar_score.round(2) %></span></td>
              </tr>
            </tbody>  
          </table>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12'>
          <h1>Description</h1>
          <br />
          <p><%= @house&.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" id="score-panel-heading">
    <h3 class="panel-title">Score the house below</h3>
  </div>
  <div class="panel-body">
    Here is where you score the house. Presumably you've seen the house and can really rate the features based on what you've seen. Give each feature a score of <b>1 - 100</b> where <b>100</b> is absolutely perfect. After you update each feature the score will update automatically. The weights are applied globally and <%= link_to "you can edit them here", settings_path %>. 
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score (1-100)</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr data-feature-id="<%= feature.id %>" data-house-id="<%= @house.id %>">
        <%= render partial: '/features/feature_row', locals: { feature: feature } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- COMMENTS SECTION -->
<h2>Comments</h2>

<div class='row'>
  <div class='col-xs-6 comment-column'>
    <% @comments.each do |comment| %>
      <%= render partial: 'comment_panel', locals: { time_stamp: Time.now.to_i, comment: comment }%>
    <% end %>
  </div>
  <div class='col-xs-6'>
    <%= render partial: 'comment_panel_blank', locals: { time_stamp: Time.now.to_i, new_comment: @new_comment } %>
  </div>
</div>


<script>
//$('#image-index-0').attr('style', "display: visible")

$(document).ready(function(){
  $('.house-images-container').slick();
});


$('.house-images-container').on('mouseover', 'img', function() {
  
})

$('tr input').on('change', function(event) {
  var target    = event.target;
  var column    = target.id.split('-')[1];
  var value     = target.value;
  var featureId = $(target).closest('tr').data('feature-id')
  var houseId   = $(target).closest('tr').data('house-id')
  
  var data = {};
  data[column] = value;
  var url = '/houses/' + houseId + '/features/' + featureId;

  $.ajax({
    type: 'PUT',
    url: url,
    dataType: 'json',
    data: { feature: data },
    success: function(data) {
      var score = data.overall_score;
      var dollarScore = data.dollar_score
      //var maxScore = data.max_score;
      //var overallScore = data.overall_score;

      $('.detail-section').find('#house-dollar-score').text(dollarScore)
      $('.detail-section').find('#house-score').text(score) 
    }
  })
})

</script>