<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= GOOGLE_MAPS_KEY %>"></script> -->
    <title>HomeComparison</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/nav_header' %>
    <div class='container-fluid'> 
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>         
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
